@model IEnumerable<PointOfSale.Models.Category>

@{
    ViewBag.Title = "CategoryTable";
    var serial = 1;
}

<div class="col-xl-12 col-md-12 mb-12">
    <div class="card border-left-primary border-bottom-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="form-group col-md-6">
                        <div class="text-xl font-weight-bold text-primary text-uppercase mb-1">Category List</div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead class="bg-gradient-primary text-white text-center">
                                <tr>
                                    <th>Serial No</th>
                                    <th>Category</th>
                                    <th>Created By</th>
                                    <th>Created Date</th>
                                    <th>Updated By</th>
                                    <th>Updated Date</th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="trDiv" class="text-gray-900 text-center">
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr id="row_@item.CategoryId">
                                            <td>
                                                @(serial++)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedBy)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UpdatedBy)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UpdatedDate)
                                            </td>
                                            <td>
                                                <a class="btn btn-secondary" href="@Url.Action("CategoryEdit", "Home", new { id = item.CategoryId })">Edit <i class="fas fa-edit"></i></a> |
                                                <a class="btn btn-danger" style="cursor: pointer; color: white" onclick="ConfirmDelete(@item.CategoryId)">Delete <i class="fas fa-trash-alt"></i> </a>
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                        <div class="modal fade" id="myModal">
                            <div class="modal-dialog">
                                <div class="modal-content">


                                    <div class="modal-header">
                                        <div class="float-left">
                                            <h4 class="modal-title">Delete Category</h4>
                                        </div>
                                        <div class="float-right">
                                            <a href="#" class="close" data-dismiss="modal">&times;</a>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <h5>Are you sure ? You want to delete this. </h5>

                                        <div style="text-align:center;display:none" id="loaderDiv">
                                            <img src="~/AppFile/loading-load.gif" style="height:200px;width:200px" />
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                                        <a href="#" class="btn btn-success" onclick="DeleteCategory()">Confirm</a>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="hiddenEmployeeId" />
</div>
<script>
    setTimeout(function () { $(".alert").css('display', 'none'); }, 5000);

    //Delete Category
    var ConfirmDelete = function (CategoryId) {

        $("#hiddenEmployeeId").val(CategoryId);
        $("#myModal").modal('show');

    }

    var DeleteCategory = function () {

        $("#loaderDiv").show();

        var catId = $("#hiddenEmployeeId").val();

        $.ajax({

            type: "POST",
            url: "/Home/DeleteCategory",
            data: { CategoryId: catId },
            success: function (result) {
                $("#loaderDiv").hide();
                $("#myModal").modal("hide");
                $("#row_" + catId).remove();

            }

        })

    }
</script>
